{
  "root": true,
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "shallow": false,
    "render": false,
    "mount": false,
    "graphql": false
  },
  "plugins": ["react", "prefer-object-spread", "compat"],
  "rules": {
    "max-len": ["error", 120],
    "linebreak-style": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-danger": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "prettier/prettier": "error"
  }
}
