// Variables
//
// Customisable variables for most style elements of the theme.

// Base colors
$color-white: #fff !default;
$color-grey-100: #f8f9fa !default;
$color-grey-200: #e9ecef !default;
$color-grey-300: #dee2e6 !default;
$color-grey-400: #ced4da !default;
$color-grey-500: #adb5bd !default;
$color-grey-600: #6c757d !default;
$color-grey-700: #495057 !default;
$color-grey-800: #343a40 !default;
$color-grey-900: #212529 !default;
$color-black: #000 !default;

// Brand colors
$color-brand-1: #fc0202 !default;
$color-brand-2: #edc5b6 !default;
$color-brand-3: #ef7b72 !default;
$color-brand-4: #f0584f !default;
$color-brand-5: #eb3c3a !default;

// Semantic colors
$color-body: $color-grey-700 !default;
$color-bg: $color-grey-200 !default;
$color-heading: $color-grey-900;
$color-link: $color-brand-5 !default;
$color-border: $color-grey-400 !default;
$color-table-odd: darken($color-bg, 5%) !default;

// Font stack
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Media breakpoints
// (NOTE: Always use @media (min-width) when using these variables.)
$media-breakpoint-xs: 0 !default;
$media-breakpoint-sm: 576px !default;
$media-breakpoint-md: 768px !default;
$media-breakpoint-lg: 992px !default;
$media-breakpoint-xl: 1200px !default;

// Dimensions for grid
$grid-max-width: 720px !default;
$grid-max-width-lg: 960px !default;
$grid-max-width-xl: 1140px !default;
$grid-container-padding: 1rem !default;

// Font dimensions
$font-size: 16px !default;
$font-size-lg: 18px !default;
$line-height: 1.45 !default;
$line-height-heading: 1.2 !default;
