@import "../styles/variables";
@import "../styles/mixins";

.root {
  padding: ($grid-container-padding / 2) $grid-container-padding;
  color: $color-grey-100;
  background-color: $color-grey-900;

  p {
    margin: 0;
  }
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
