@import "../styles/variables";
@import "../styles/mixins";

.root {
  padding: ($grid-container-padding / 2) $grid-container-padding;
  color: $color-grey-100;
  z-index: 2;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.mastheadIcon {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  img {
    max-height: 48px;
    vertical-align: middle;
  }
}

.mastheadNav {
  height: 100%;

  .mastheadNavLink {
    height: 100%;
    margin: 0 1rem;
    padding: .25rem 0;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    @include on-event {
      text-decoration: none;
      border-bottom: 3px solid $color-brand-5;
    }
  }

  .mastheadNavLinkActive {
    border-bottom: 3px solid $color-brand-5;
  }
}
